In [ ]:
#import sys
#!{sys.executable} -m conda install psycopg2-binary

In [1]:
import psycopg2
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
password = input("Password for MSiA: ")
conn = psycopg2.connect(
    host="pg.analytics.northwestern.edu",
    database="2022-everything-team08",
    user="zzp8676", #change here
    password=password)

print("Connected.")
cur = conn.cursor()

Password for MSiA:  Zz007270zy!@

Connected.

In [ ]:
# Query the database and obtain data as Python objects
#cur.execute('SELECT * FROM public.\"DEPTINFO\";')
#cur.fetchone()

In [65]:
import pandas.io.sql as psql
import random

In [75]:
#df = psql.read_sql('SELECT * FROM msia400.trnsact WHERE orgprice > amt AND extract(year from saledate) = 2005 limit 100', conn)

random.seed(77)

df = psql.read_sql('SELECT * FROM msia400.trnsact tr INNER JOIN msia400.skstinfo sk ON sk.sku = tr.store AND sk.store = tr.register LIMIT 10000', conn)

df.head()

In [76]:
from datetime import datetime
import pandas as pd

# Keep rows with orgprice > 0
df[df['orgprice'] > 0]

# Drop rows with null values in any of the three columns
df.dropna(subset = ['saledate','retail','orgprice'], inplace = True)

h = df['saledate'].astype(str).str.split("-")

month = [h[i][1] for i in range(10000)]
df['month'] = month

pd.get_dummies(df, columns = ['month'])

,store,register,seq,trannum,interid,saledate,stype,quantity,orgprice,amt,...,month_03,month_04,month_05,month_06,month_07,month_08,month_09,month_10,month_11,month_12
0,17915,8803,700,2500,000000000,2005-05-10,P,1,19.5,19.50,...,0,0,1,0,0,0,0,0,0,0
1,17915,8803,700,3400,000000000,2005-04-08,P,1,19.5,19.50,...,0,1,0,0,0,0,0,0,0,0
2,17915,8803,700,3600,000000000,2004-08-20,P,1,19.5,19.50,...,0,0,0,0,0,1,0,0,0,0
3,17915,8803,700,3700,106206550,2005-04-13,P,1,19.5,19.50,...,0,1,0,0,0,0,0,0,0,0
4,17915,8803,700,5300,580409103,2004-12-18,P,1,19.5,19.50,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,18836,809,380,4400,061901213,2005-06-16,P,1,29.0,29.00,...,0,0,0,1,0,0,0,0,0,0
9996,18836,809,390,8200,000000000,2005-07-29,P,1,29.0,29.00,...,0,0,0,0,1,0,0,0,0,0
9997,18836,1009,190,1600,604608608,2005-06-24,P,1,29.0,29.00,...,0,0,0,1,0,0,0,0,0,0
9998,18836,1109,80,1000,000000000,2005-08-05,P,1,29.0,21.75,...,0,0,0,0,0,1,0,0,0,0
9999,18836,1509,670,4800,000000000,2005-08-27,P,1,29.0,15.22,...,0,0,0,0,0,1,0,0,0,0

df = pd.read_csv("deptinfo.csv")
df.to_sql(‘test_schema.dept_python_import’, con=conn, if_exists=’replace’, index=False)

In [ ]:
# # Make the changes to the database persistent
# conn.commit()
# Close communication with the database
cur.close()
conn.close()